//This is a manifest file that'll be compiled into application.css, which will include all the files
// listed below.
//
// Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
// or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
//
// You're free to add application-wide styles to this file and they'll appear at the top of the
// compiled file, but it's generally better to create a new file per style scope.

//= require_self

@import "bootstrap"
@import "colors"

.container
  padding: 20px 0

form div
  display: inline

form#new_item
  input
    margin-bottom: 0

ul#item_list
  list-style-type: none
  margin-left: 0 
  li
    background: #eee
    border-radius: 3px
    margin-bottom: 3px
    padding: 3px 10px
    width: 400px
    .posted_at
      font-size: 80%
      color: darken($light, 30%)
